.cap-logo {
	margin: 25px 0;
}

.red-star {
	color: maroon;
	font-size: 20px;
}

.fc-webicon.facebook.social-size,
.fc-webicon.twitter.social-size,
.fc-webicon.youtube.social-size,
.fc-webicon.googleplus.social-size {
	height: 35px;
	width: 35px;
}
 

.social-button {
  padding: 0;
}

.social-name {
  margin-top: 10px;
  margin-left: 0;
  padding-left: 0;
  color: rgb(43,166,203);
}

@media only screen and (max-width: 768px) {
  .section-container.tabs > section > .title, .section-container.tabs > .section.active > .title {
  width: 50%;
}
    .social-name {
      font-size: 20px;
      margin-top: 11px;
      letter-spacing: 1px;
      color: rgb(43,166,203);
  }
    .fc-webicon.facebook.social-size,
    .fc-webicon.twitter.social-size,
    .fc-webicon.youtube.social-size,
    .fc-webicon.googleplus.social-size {
        height: 50px;
        width: 50px;
    }
}

.center {
  text-align: center;
}

