.cap-logo {
	margin: 25px 0;
}

.red-star {
	color: maroon;
	font-size: 20px;
}

.fc-webicon.facebook.social-size,
.fc-webicon.twitter.social-size,
.fc-webicon.youtube.social-size,
.fc-webicon.googleplus.social-size {
	height: 35px;
	width: 35px;
}
