
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.idea/*
node_modules/


# Mac crap
.DS_Store

###########
# Misc.
###########
*.env

.sass-cache/
.sass-cache/*
