
.project
.metadata
bin/
keys/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.idea/*
node_modules/
npm-debug.log

# Mac crap
.DS_Store

###########
# Misc.
###########
*.env
