
<h1>Admin</h1>
<p>This view is visible to users with the administrator role.</p>
<table data-ng-hide="loading" class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Username</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="user in users">
      <td>{{ user.id }}</td>
      <td><i data-ng-show="user.provider === 'twitter'" class="icon-twitter"></i><i data-ng-show="user.provider === 'facebook'" class="icon-facebook-sign"></i><i data-ng-show="user.provider === 'google'" class="icon-google-plus-sign"></i><i data-ng-show="user.provider === 'linkedin'" class="icon-linkedin"></i> {{ user.username }}</td>
      <td><span data-ng-class="{&quot;label-info&quot;: user.role == userRoles.user, &quot;label-success&quot;: user.role == userRoles.admin}" class="label">{{ getUserRoleText(user.role) }}</span></td>
    </tr>
  </tbody>
</table>