<div class="row">
	<div class="large-14 medium-15 small-15 small-centered columns">
		<h3 class="subheader">Change Password</h3>
		<div class="row">
			<div class="large-10 medium-10 medium-centered large-centered columns">
				<form action="">
					<div class="row collapse">
						<div class="large-13 small-12 columns">
							<input class="textbox" placeholder="Old Password *" type="password" name="IDToken2" id="IDToken2" value="" />
						</div>
						<div class="large-3 small-4 columns">
							<span data-tooltip class="has-tip" title="Minimum of 8 characters">
								<span class="postfix radius">
									<i class="icon-info-sign"></i>
								</span>
							</span>
						</div>
					</div>
					<div class="row collapse">
						<div class="large-13 small-12 columns">
							<input class="textbox" placeholder="New Password *" type="password" name="IDToken2" id="IDToken2" value="" />
						</div>
						<div class="large-3 small-4 columns">
							<span data-tooltip class="has-tip" title="Minimum of 8 characters">
								<span class="postfix radius">
									<i class="icon-info-sign"></i>
								</span>
							</span>
						</div>
					</div>
					<div class="row collapse">
						<div class="large-13 small-12 columns">
							<input class="textbox" placeholder="Confirm Password *" type="password" name="IDToken2" id="IDToken2" value="" />
						</div>
						<div class="large-3 small-4 columns">
							<span data-tooltip class="has-tip" title="Minimum of 8 characters">
								<span class="postfix radius">
									<i class="icon-info-sign"></i>
								</span>
							</span>
						</div>
					</div>
				</form>
				<div class="row">
					<div class="large-6 columns marRight">
					<input name="" type="button" onclick="" class="button radius expand medium" value=" Change Password " />
						
					</div>
					<div class="large-3 columns left">
						<input name="" type="button" onclick="" class="button secondary radius expand medium" value=" Cancel " />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>