<!-- <h1>Hello</h1>
<p>This view is visible to logged in users.</p> -->
<div class="row">
  <div class="large-14 medium-15 small-15 small-centered columns">
    <h3 class="subheader">Account Details</h3>
    <div class="row">
      <div class="large-10 medium-10 small-centered columns">
        <form action="">
            <input class="textbox" placeholder="First Name" type="text"  value="" />
            <input class="textbox" placeholder="Last Name *" type="text"  value="" />
            <input class="textbox" placeholder="Full Name *" type="text"  value="" />
            <input class="textbox" placeholder="Email Address *" type="email"  value="" />
            <input class="textbox" placeholder="Telephone Number" type="tel"  value="" />
            <input class="textbox" placeholder="Home Address" type="text"  value="" />
        </form>
        <div class="row">
          <div class="large-3 columns">
            <input name="" type="button" onclick="" class="button radius expand medium" value=" Update " />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>