<div class="row">
	<div class="large-14 medium-15 small-15 small-centered columns">
		<h1 class="subheader">Current Sessions</h1>
		<h6 class="subheader">The follwing sessions are currently open from your account:</h6>
		<hr>
		<div class="row">
			<div class="large-16 medium-16 small-16 columns">
				<div class="large-4 center columns">
					<h4><small>Application</small></h4>
				</div>
				<div class="large-3 center columns">
					<h4><small>Session Started</small></h4>
				</div>
				<div class="large-3 center columns">
					<h4><small>Total Session Time</small></h4>
				</div>
				<div class="large-4 center columns">
					<h4><small>Total Idle Time</small></h4>
				</div>
				<div class="large-2 center columns">
					<h4><small>Actions</small></h4>
					<div class="row">
						<div class="large-6 medium-2 medium-offset-6 small-2 large-offset-3 small-offset-6 columns">
							<a href="#" class="button small radius"><i class="icon-refresh"></i></a>
						</div>
						<div class="large-3 small-2 left columns">
							<a href="#" class="button small radius"><i class="icon-remove"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="large-16 medium-16 small-16 columns">
				<div class="large-4 center columns">
					<h4><small>Application</small></h4>
				</div>
				<div class="large-3 center columns">
					<h4><small>Session Started</small></h4>
				</div>
				<div class="large-3 center columns">
					<h4><small>Total Session Time</small></h4>
				</div>
				<div class="large-4 center columns">
					<h4><small>Total Idle Time</small></h4>
				</div>
				<div class="large-2 center columns">
					<h4><small>Actions</small></h4>
					<div class="row">
						<div class="large-6 medium-2 medium-offset-6 small-2 large-offset-3 small-offset-6 columns">
							<a href="#" class="button small radius"><i class="icon-refresh"></i></a>
						</div>
						<div class="large-3 small-2 left columns">
							<a href="#" class="button small radius"><i class="icon-remove"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="large-16 medium-16 small-16 columns">
				<div class="large-4 center columns">
					<h4><small>Application</small></h4>
				</div>
				<div class="large-3 center columns">
					<h4><small>Session Started</small></h4>
				</div>
				<div class="large-3 center columns">
					<h4><small>Total Session Time</small></h4>
				</div>
				<div class="large-4 center columns">
					<h4><small>Total Idle Time</small></h4>
				</div>
				<div class="large-2 center columns">
					<h4><small>Actions</small></h4>
					<div class="row">
						<div class="large-6 medium-2 medium-offset-6 small-2 large-offset-3 small-offset-6 columns">
							<a href="#" class="button small radius"><i class="icon-refresh"></i></a>
						</div>
						<div class="large-3 small-2 left columns">
							<a href="#" class="button small radius"><i class="icon-remove"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="large-16 medium-16 small-16 columns">
				<div class="large-4 center columns">
					<h4><small>Application</small></h4>
				</div>
				<div class="large-3 center columns">
					<h4><small>Session Started</small></h4>
				</div>
				<div class="large-3 center columns">
					<h4><small>Total Session Time</small></h4>
				</div>
				<div class="large-4 center columns">
					<h4><small>Total Idle Time</small></h4>
				</div>
				<div class="large-2 center columns">
					<h4><small>Actions</small></h4>
					<div class="row">
						<div class="large-6 medium-2 medium-offset-6 small-2 large-offset-3 small-offset-6 columns">
							<a href="#" class="button small radius"><i class="icon-refresh"></i></a>
						</div>
						<div class="large-3 small-2 left columns">
							<a href="#" class="button small radius"><i class="icon-remove"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="large-16 medium-16 small-16 columns">
				<div class="large-4 center columns">
					<h4><small>Application</small></h4>
				</div>
				<div class="large-3 center columns">
					<h4><small>Session Started</small></h4>
				</div>
				<div class="large-3 center columns">
					<h4><small>Total Session Time</small></h4>
				</div>
				<div class="large-4 center columns">
					<h4><small>Total Idle Time</small></h4>
				</div>
				<div class="large-2 center columns">
					<h4><small>Actions</small></h4>
					<div class="row">
						<div class="large-6 medium-2 medium-offset-6 small-2 large-offset-3 small-offset-6 columns">
							<a href="#" class="button small radius"><i class="icon-refresh"></i></a>
						</div>
						<div class="large-3 small-2 left columns">
							<a href="#" class="button small radius"><i class="icon-remove"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
	</div>
	</div>
</div>