<div class="row">
	<div class="large-14 medium-15 columns small-15 columns small-centered">
		<h1 class="subheader">Authorised Applications</h1>
		<h6 class="subheader">The follwing applications have access to your account details:</h6>
		<hr>
		<div class="row">
			<div class="large-16 medium-16 small-16 columns">
				<div class="large-4 medium-4 center columns">
					<h4><small>OAuth Application</small></h4>
				</div>
				<div class="large-4 medium-4 center columns">
					<h4><small>Description</small></h4>
				</div>
				<div class="large-4 medium-4 center columns">
					<h4><small>Issued on</small></h4>
				</div>
				<div class="large-4 medium-4 center columns">
					<h4><small>Actions</small></h4>
					<div class="row">
						<div class="large-4 medium-4 small-4 large-centered small-centered columns">
							<a href="#" data-reveal-id="myClose" class="button small radius"><i class="icon-remove"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="large-16 medium-16 small-16 columns">
				<div class="large-4 medium-4 center columns">
					<h4><small>OAuth Application</small></h4>
				</div>
				<div class="large-4 medium-4 center columns">
					<h4><small>Description</small></h4>
				</div>
				<div class="large-4 medium-4 center columns">
					<h4><small>Issued on</small></h4>
				</div>
				<div class="large-4 medium-4 center columns">
					<h4><small>Actions</small></h4>
					<div class="row">
						<div class="large-4 medium-4 small-4 large-centered small-centered columns">
							<a href="#" data-reveal-id="myClose" class="button small radius"><i class="icon-remove"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="large-16 medium-16 small-16 columns">
				<div class="large-4 medium-4 center columns">
					<h4><small>OAuth Application</small></h4>
				</div>
				<div class="large-4 medium-4 center columns">
					<h4><small>Description</small></h4>
				</div>
				<div class="large-4 medium-4 center columns">
					<h4><small>Issued on</small></h4>
				</div>
				<div class="large-4 medium-4 center columns">
					<h4><small>Actions</small></h4>
					<div class="row">
						<div class="large-4 medium-4 small-4 large-centered small-centered columns">
							<a href="#" data-reveal-id="myClose" class="button small radius"><i class="icon-remove"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="large-16 medium-16 small-16 columns">
				<div class="large-4 medium-4 center columns">
					<h4><small>OAuth Application</small></h4>
				</div>
				<div class="large-4 medium-4 center columns">
					<h4><small>Description</small></h4>
				</div>
				<div class="large-4 medium-4 center columns">
					<h4><small>Issued on</small></h4>
				</div>
				<div class="large-4 medium-4 center columns">
					<h4><small>Actions</small></h4>
					<div class="row">
						<div class="large-4 medium-4 small-4 large-centered small-centered columns">
							<a href="#" data-reveal-id="myClose" class="button small radius"><i class="icon-remove"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="large-16 medium-16 small-16 columns">
				<div class="large-4 medium-4 center columns">
					<h4><small>OAuth Application</small></h4>
				</div>
				<div class="large-4 medium-4 center columns">
					<h4><small>Description</small></h4>
				</div>
				<div class="large-4 medium-4 center columns">
					<h4><small>Issued on</small></h4>
				</div>
				<div class="large-4 medium-4 center columns">
					<h4><small>Actions</small></h4>
					<div class="row">
						<div class="large-4 medium-4 small-4 large-centered small-centered columns">
							<a href="#" data-reveal-id="myClose" class="button small radius"><i class="icon-remove"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="large-16 medium-16 small-16 columns">
				<div class="large-4 medium-4 center columns">
					<h4><small>OAuth Application</small></h4>
				</div>
				<div class="large-4 medium-4 center columns">
					<h4><small>Description</small></h4>
				</div>
				<div class="large-4 medium-4 center columns">
					<h4><small>Issued on</small></h4>
				</div>
				<div class="large-4 medium-4 center columns">
					<h4><small>Actions</small></h4>
					<div class="row">
						<div class="large-4 medium-4 small-4 large-centered small-centered columns">
							<a href="#" data-reveal-id="myClose" class="button small radius"><i class="icon-remove"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
	</div>
</div>