<div class="hero-unit">
	<div class="row">
		<div class="large-12 columns">
			<div class="section-container tabs" data-section="tabs">
				<section>
					<p class="title" data-section-title><a href="#">Log in</a></p>
					<div class="content" data-section-content>
						<div class="row">
							<div class="large-6 columns">
								<h1 class="subheader">Sign in</h1>
								<!-- <p> You can either register a new user, log in with one of the two predefined users...</p>
								<ul>
									<li>admin/123</li>
									<li>user/123</li> 
								</ul> -->
								<form ng-submit="login()" name="loginForm" class="form-horizontal">
									<div class="row">
										<div class="control-group large-9 columns">
											<div class="controls">
												<input type="text" data-ng-model="username" placeholder="Username" name="username" required="required"/>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="control-group large-9 columns">
											<div class="controls">
												<input type="password" data-ng-model="password" placeholder="Password" name="password" required="required"/>
											</div>
										</div>
									</div>
									<div class="row">
											<div class="control-group large-9 columns">
											<div class="controls">
												<label for="rememberme" class="checkbox">
													<input type="checkbox" data-ng-model="rememberme" name="rememberme"/>Remember me
												</label>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="small-12 large-3 right pull-3 columns">
											<div class="control-group">
												<div class="controls">
													<button type="submit" class="button radius expand medium">Log in</button>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
							<div class="large-6 columns">
								<h1 class="subheader">Other ways to log in:</h1>
								<ul class="small-block-grid-1 large-block-grid-2">
									<li>
										<a href="" data-ng-click="loginOauth('facebook')" class="button secondary expand radius"><i class="icon-facebook-sign"></i> Facebook</a>
									</li>
									<li>
										<a href="" data-ng-click="loginOauth('twitter')" class="button secondary expand radius"><i class="icon-twitter"></i> Twitter</a>
									</li>
									<li>
										<a href="" data-ng-click="loginOauth('google')" class="button secondary expand radius"><i class="icon-google-plus-sign"></i> Google</a>
									</li>
									<li>
										<a href="" data-ng-click="loginOauth('linkedin')" class="button secondary expand radius"><i class="icon-linkedin"></i> LinkedIn</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<section>
					<p class="title" data-section-title><a href="#">Register</a></p>
					<div class="content" data-section-content>
						<h1 class="subheader">Register</h1>
						<div class="row">
							<div class="large-6 large-centered columns">
								<form ng-submit="register()" name="registerForm" class="form-horizontal">
									<div class="control-group">
										<label for="username" class="control-label">Username</label>
										<div class="controls">
											<input type="text" data-ng-model="username" placeholder="Username" name="username" required="required" data-ng-minlength="1" data-ng-maxlength="20"/>
										</div>
									</div>
									<div class="control-group">
										<label for="password" class="control-label">Password</label>
										<div class="controls">
											<input type="password" data-ng-model="password" placeholder="Password" name="password" required="required" data-ng-minlength="5" data-ng-maxlength="60"/>
										</div>
									</div>
									<div class="control-group">
										<div class="controls">
											<button type="submit" data-ng-disabled="registerForm.$invalid" class="btn">Submit</button>
										</div>
									</div>
									<div ng-show="registerForm.$invalid" class="alert alert-error"><strong>Please correct the following errors:</strong>
										<ul>
											<li ng-show="registerForm.username.$error.required">Username is required</li>
											<li ng-show="registerForm.username.$error.minlength">Username has to be at least 1 character long</li>
											<li ng-show="registerForm.username.$error.maxlength">Username has to be at most 20 character long</li>
											<li ng-show="registerForm.password.$error.required">Password is required</li>
											<li ng-show="registerForm.password.$error.minlength">Password must be at least 5 characters long</li>
											<li ng-show="registerForm.password.$error.maxlength">Password must be at most 60 characters long</li>
										</ul>
									</div>
								</form>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>

