<div class="row">
	<div class="small-15 large-8 medium-10 columns large-centered small-centered">
		<h1 class="subheader">Register</h1>
		<div data-alert class="alert-box radius">
			<p><i class="icon-info"></i><span class="red">&nbsp;- *&nbsp;</span>Indicates required field</p>
		  <a href="#" class="close">&times;</a>
		</div>
		<form ng-submit="register()" name="registerForm" class="form-horizontal">
			<div class="control-group">
				<div class="controls">
					<input type="text" data-ng-model="" placeholder="First Name * " name="" required="required" data-ng-minlength="1" data-ng-maxlength="20"/>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input type="text" data-ng-model="" placeholder="Last Name *" name="" required="required" data-ng-minlength="1" data-ng-maxlength="20"/>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<div class="row collapse">
						<div class="small-14 columns">
							<input type="email" data-ng-model="" placeholder="Email Address" name="" required="" data-ng-minlength="" data-ng-maxlength=""/>
						</div>
						<div class="small-2 columns">
							<span class="postfix radius" data-tooltip class="has-tip" title="e.g: adam.stacey@example.com">
								<i class="icon-info-sign"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input type="text" data-ng-model="username" placeholder="Username *" name="username" required="required" data-ng-minlength="1" data-ng-maxlength="20"/>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<div class="row collapse">
						<div class="small-14 columns">
							<input type="password" data-ng-model="password" placeholder="Password *" name="password" required="required" data-ng-minlength="5" data-ng-maxlength="60"/>
						</div>
						<div class="small-2 columns">
							<span class="postfix radius" data-tooltip class="has-tip" title="Password must be at least 5 characters long">
								<i class="icon-info-sign"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<div class="row collapse">
						<div class="small-14 columns">
							<input type="password" data-ng-model="" placeholder="Confirm Password *" name="" required="required" data-ng-minlength="5" data-ng-maxlength="60"/>
						</div>
						<div class="small-2 columns">
							<span class="postfix radius" data-tooltip class="has-tip" title="Password must be at least 5 characters long">
								<i class="icon-info-sign"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- <div class="large-8 medium-8 columns">
					<div class="control-group">
						<label class="radio inline">
							<input type="radio" name="role" data-ng-model="role" id="adminRole" data-ng-value="{{ userRoles.admin }}"/>&nbsp;&nbsp;Administrator
						</label>
						<label class="radio inline">
							<input type="radio" name="role" data-ng-model="role" id="adminRole" data-ng-value="{{ userRoles.user }}"/>&nbsp;&nbsp;Normal user
						</label>
					</div>
				</div> -->
				<div class="large-16 medium-16 columns">
					<ul class="large-block-grid-3 small-block-grid-1 block-grid">
						<li>
							<div class="control-group">
								<div class="controls">
									<button type="submit" data-ng-disabled="registerForm.$invalid" class="button expand radius">Register</button>
								</div>
							</div>	
						</li>
						<li>
							<div class="control-group">
								<div class="controls">
									<button type="submit" class="button expand secondary radius">Cancel</button>
								</div>
							</div>
						</li>
						<li>
							<div class="control-group">
								<div class="controls">
									<button type="submit" class="button expand secondary radius">Reset Form</button>
								</div>
							</div>
						</li>
					</ul>
					
				</div>
			</div>
			
			
			<!-- <div ng-show="registerForm.$invalid" class="alert alert-error"><strong>Please correct the following errors:</strong>
				<ul class="no-bullet">
					<li ng-show="registerForm.username.$error.required" class="subheader">Username is required</li>
					<li ng-show="registerForm.username.$error.minlength" class="subheader">Username has to be at least 1 character long</li>
					<li ng-show="registerForm.username.$error.maxlength" class="subheader">Username has to be at most 20 character long</li>
					<li ng-show="registerForm.password.$error.required" class="subheader">Password is required</li>
					<li ng-show="registerForm.password.$error.minlength" class="subheader">Password must be at least 5 characters long</li>
					<li ng-show="registerForm.password.$error.maxlength" class="subheader">Password must be at most 60 characters long</li>
				</ul>
			</div>-->
		</form>  
	</div>
</div>
<hr/>

