<!DOCTYPE html>
<html lang="en" data-ng-app="user_management">
  <head>
    <meta charset="utf-8">
    <title>Capgemini Digital IAM</title>
    <link rel="stylesheet" href="css/app.css">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">
    <!-- This is needed because Facebook login redirects add #_=_ at the end of the URL-->
    <script type="text/javascript">
      if (window.location.href.indexOf('#_=_') > 0) {
          window.location = window.location.href.replace(/#.*/, '');
      }
    </script>
  </head>
  <body data-ng-controller="AppCtrl" data-ng-cloak>
    <div id="cover" data-ng-hide="appInitialized" data-ng-animate="{ hide: 'fade-hide' }"></div>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <ul class="nav">
            <li data-access-level="{{ accessLevels.anon }}" active-nav><a href="/login">Log in</a></li>
            <li data-access-level="{{ accessLevels.anon }}" active-nav><a href="/register">Register</a></li>
            <li data-access-level="{{ accessLevels.user }}" active-nav><a href="/">Home</a></li>
            <li data-access-level="{{ accessLevels.user }}" active-nav><a href="/private">Private</a></li>
            <li data-access-level="{{ accessLevels.admin }}" active-nav><a href="/admin">Admin</a></li>
            <li data-access-level="{{ accessLevels.user }}"><a href="" data-ng-click="logout()">Log out</a></li>
          </ul>
          <div id="userInfo" data-access-level="{{ accessLevels.user }}" class="pull-right">Welcome&nbsp;<strong>{{ user.username }}&nbsp;</strong><span data-ng-class="{&quot;label-info&quot;: user.role == userRoles.user, &quot;label-success&quot;: user.role == userRoles.admin}" class="label">{{ getUserRoleText(user.role) }}</span></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div data-ng-view="ng-view"></div>
      <div data-ng-bind="error" data-ng-show="error" class="alert alert-error"></div>
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular-cookies.js"></script>
    <script src="/js/routingConfig.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/filters.js"></script>
    <script src="/js/directives.js"></script>
  </body>
</html>