<!DOCTYPE html>
<html lang="en" data-ng-app="user_management">
	<head>
		<meta charset="utf-8">
		<title>Capgemini Digital IAM</title>
		<link rel="stylesheet" href="css/app.css">
		<link rel="stylesheet" href="../vendor/foundation/css/foundation.css">
		<link rel="stylesheet" href="../vendor/foundation/css/normalize.css">

		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css">
		<!-- This is needed because Facebook login redirects add #_=_ at the end of the URL-->
		<script type="text/javascript">
			if (window.location.href.indexOf('#_=_') > 0) {
					window.location = window.location.href.replace(/#.*/, '');
			}
		</script>

		<script src="../vendor/foundation/js/vendor/custom.modernizr.js"></script>
	</head>
	<body data-ng-controller="AppCtrl" data-ng-cloak>
		<div id="cover" data-ng-hide="appInitialized" data-ng-animate="{ hide: 'fade-hide' }"></div>

		<div class="row">
			<div class="small-16 columns">
				<div class="small-8 large-3 small-centered columns">
					<img src="http://www.livingyourfuture.co.uk/images/Logo-Capgemini-2.jpg" alt="" class="cap-logo"/>
				</div>
			</div>
		</div>
		
		<nav class="top-bar">
			<ul class="title-area">
				<!-- Title Area -->
				<li class="name">
				</li>
				<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
				<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
			</ul>

			<section class="top-bar-section">
				<!-- Left Nav Section -->
				<ul class="left">
					<li data-access-level="{{ accessLevels.anon }}" active-nav><a href="/login">Log in</a></li>
					<li class="divider" data-access-level="{{ accessLevels.anon }}"></li>
					<li data-access-level="{{ accessLevels.anon }}" active-nav><a href="/register">Register</a></li>
					<li class="divider" data-access-level="{{ accessLevels.anon }}"></li>
					<li data-access-level="{{ accessLevels.user }}" active-nav><a href="/">Profile</a></li>
					<li class="divider" data-access-level="{{ accessLevels.user }}"></li>
					<li data-access-level="{{ accessLevels.user }}" active-nav><a href="/token">Access Token</a></li>
					<li class="divider" data-access-level="{{ accessLevels.user }}"></li>
					<li data-access-level="{{ accessLevels.user }}" active-nav><a href="/session">Sessions</a></li>
					<li class="divider" data-access-level="{{ accessLevels.user }}"></li>
					<li data-access-level="{{ accessLevels.user }}" active-nav><a href="/changePassword">Change Password</a></li>
					<li class="divider" data-access-level="{{ accessLevels.user }}"></li>
					<li data-access-level="{{ accessLevels.user }}" active-nav><a href="/applications">Applications</a></li>
					<li class="divider" data-access-level="{{ accessLevels.user }}"></li>
					<li data-access-level="{{ accessLevels.user }}" active-nav><a href="/strongAuth">Strong Auth</a></li>
					<li class="divider" data-access-level="{{ accessLevels.user }}"></li>
					<li data-access-level="{{ accessLevels.user }}" active-nav><a href="/history">Account History</a></li>
					<li class="divider" data-access-level="{{ accessLevels.user }}"></li>
					<li data-access-level="{{ accessLevels.user }}" active-nav><a href="/private">Private</a></li>
					<li class="divider" data-access-level="{{ accessLevels.user }}"></li>
					<li data-access-level="{{ accessLevels.admin }}" active-nav><a href="/admin">Admin</a></li>
					<li class="divider" data-access-level="{{ accessLevels.admin }}"></li>
					<li data-access-level="{{ accessLevels.user }}"><a href="" data-ng-click="logout()">Log out</a></li>
					<li class="divider" data-access-level="{{ accessLevels.user }}"></li>
				</ul>
			</section>
		</nav>
		<div id="userInfo" data-access-level="{{ accessLevels.user }}" class="left">Welcome&nbsp;<strong>{{ user.username }}&nbsp;</strong>
			<span data-ng-class="{&quot;label-info&quot;: user.role == userRoles.user, &quot;label-success&quot;: user.role == userRoles.admin}" class="label">{{ getUserRoleText(user.role) }}</span>
		</div>
		<div class="row">
			<div class="large-16 columns">
				<div data-ng-view="ng-view"></div>
				<div data-ng-bind="error" data-ng-show="error" class="alert alert-error"></div>
			</div>
		</div>


		<div id="myModal" class="reveal-modal">
			<h1 class="subheader">Terms of Use &amp; Privacy Policy</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, ad consequatur nam libero unde et obcaecati? Voluptatibus, aperiam, consequuntur cumque officia blanditiis ducimus natus error repellendus alias molestias inventore corporis?</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, voluptas, natus, reiciendis, sapiente commodi autem quo voluptates incidunt dicta deserunt totam rem ipsum provident laudantium ut. Non, veritatis itaque autem.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, laborum, doloremque, veritatis quaerat qui deserunt atque delectus commodi accusantium reiciendis pariatur necessitatibus nobis culpa temporibus tempora debitis obcaecati itaque molestiae.</p>
			<a class="close-reveal-modal">&#215;</a>
		</div>

		<script>
		document.write('<script src=' +
		('__proto__' in {} ? '../vendor/foundation/js/vendor/zepto' : '../vendor/foundation/js/vendor/jquery') +
		'.js><\/script>')
		</script>

		<script src="../vendor/foundation/js/foundation.min.js"></script>
<!-- 
		<script src="../vendor/foundation/js/foundation/foundation.js"></script>
		<script src="../vendor/foundation/js/foundation/foundation.alerts.js"></script>
		<script src="../vendor/foundation/js/foundation/foundation.clearing.js"></script>
		<script src="../vendor/foundation/js/foundation/foundation.cookie.js"></script>
		<script src="../vendor/foundation/js/foundation/foundation.dropdown.js"></script>
		<script src="../vendor/foundation/js/foundation/foundation.forms.js"></script>
		<script src="../vendor/foundation/js/foundation/foundation.joyride.js"></script>
		<script src="../vendor/foundation/js/foundation/foundation.magellan.js"></script>
		<script src="../vendor/foundation/js/foundation/foundation.orbit.js"></script>
		<script src="../vendor/foundation/js/foundation/foundation.placeholder.js"></script>
		<script src="../vendor/foundation/js/foundation/foundation.reveal.js"></script>
		<script src="../vendor/foundation/js/foundation/foundation.section.js"></script>
		<script src="../vendor/foundation/js/foundation/foundation.tooltips.js"></script>
		<script src="../vendor/foundation/js/foundation/foundation.topbar.js"></script> 
		<script src="../vendor/foundation/js/foundation/foundation.interchange.js"></script>
-->
		<script>
			$(document).foundation();
		</script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular-cookies.js"></script>
		<script src="/js/routingConfig.js"></script>
		<script src="/js/app.js"></script>
		<script src="/js/services.js"></script>
		<script src="/js/controllers.js"></script>
		<script src="/js/filters.js"></script>
		<script src="/js/directives.js"></script>
	</body>
</html>